

<div class="add-comment" data-controller="comment">


  <button data-action="click->comment#add" data-commentable-id="<%= commentable.id %>" data-commentable-type=<%= commentable.class.name %> ><%= caption %></button>
  

  <template id="add-comment-form-template">
  <form action="/comments" method="post" data-controller="comment-form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="comment[commentable_id]" data-target="comment-form.commentableId">
    <input type="hidden" name="comment[commentable_type]" data-target="comment-form.commentableType">
    <input type="hidden" name="post_id" value="post_id">
    <label for="comment_body">Body</label>
    <textarea id="comment_body" name="comment[body]"></textarea>
    <button type="submit">Submit</button>
  </form>
</template>
</div>