<%= form_with(model: @post, local: true, method: :post) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class:"form-control" %>
  </div>
  <%= f.submit "Submit", class:'btn btn-primary' %>
<% end %>