body {
  background-color: black  ;
}

.left-panel {
  position: sticky;
  height: 100vh;
  top: 0;
  overflow-y: auto;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}